modules = ["python-3.11:v18-20230807-322e88b"]

[nix]
channel = "stable-23_11"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[packager]
language = "python3"
ignoredPackages = ["telegram"]

[packager.features]
guessImports = true
packageSearch = true
enabledForHosting = false

[env]
PYTHONPATH = "/home/runner/workspace"

[run]
args = ["python", "main.py"]

[deployment]
run = ["python", "main.py"]

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 43625454
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
