modules = ["python-3.11"]
run = "pip install -r requirements.txt && python main.py"

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[packager]
language = "python3"
ignoredPackages = ["telegram"]

[packager.features]
guessImports = true
packageSearch = true
enabledForHosting = true

[env]
PYTHONPATH = "/home/runner/workspace"

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && python main.py"]

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 43625454
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt && python main.py"
